/*Variables*/

:root {
    --font: "Quicksand";
    --color1: #172e40;
    --color2: #0a624c;
    --color3: #12b284;
    --color4: #f09197;
    --color5: #eddaaf;
}


/*Global Settings*/

* {
    margin: 0;
    padding: 0;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1920px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all .3s ease-out;
    font-family: var(--font), sans-serif;
}

img {
    max-width: 100%;
}

.icon {
    text-decoration: none;
}

.spacer-50 {
    height: 50px;
}

.spacer-20 {
    height: 20px;
}

.padding-top-bottom-20 {
    padding: 20px 0;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}


/*Text Styling*/

.text-center {
    text-align: center;
}


/*Nav*/

.nav-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 50px;
}

.topnav ul {
    list-style: none;
    /* float: right; */
}

.topnav ul li {
    display: inline-block;
}

.topnav ul li a {
    transition: color 0.3s ease 0s;
    padding: 0 20px;
    text-decoration: none;
    color: black;
}

.topnav ul li a:hover {
    color: var(--color4);
}

#active-page {
    color: var(--color4);
    text-decoration: underline;
}

.open-icon,
.close-icon {
    display: none;
}


/*Global Flex Containers*/

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.flex-row-align-top {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    gap: 20px;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.flex-col-align-top {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 100%;
}

.align-self-stretch {
    align-self: stretch!important;
}

.flex-child-50 {
    flex-basis: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.flex-child-75 {
    flex-basis: 75%;
    display: flex;
    align-self: stretch;
    justify-content: center;
}

.flex-child-66 {
    flex-basis: 67%;
    display: flex;
    align-self: stretch;
    justify-content: center;
}

.flex-child-33 {
    flex-basis: 33%;
    display: flex;
    align-self: stretch;
    justify-content: center;
}

.flex-child-25 {
    flex-basis: 25%;
    display: flex;
    align-self: stretch;
    justify-content: center;
}

.flex-child-20 {
    flex-basis: 15%;
    display: flex;
    /* align-self: center;*/
    /* justify-content:center; */
}

.gallery-item {
    display: flex;
}

.gallery-item,
.gallery-item img {
    width: 100%;
}


/* .flex-align-bottom {
    justify-self: flex-end;
} */


/*Homepage*/

.home-CTAs {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    height: 250px;
    width: 250px;
    /* padding: 30px; */
    /* margin: 20px; */
    color: white;
    text-align: center;
    text-decoration: none;
}

.static {
    position: absolute;
    background: white;
}

.static:hover {
    opacity: 0;
}


/*Shop*/

.shop-cta {
    align-items: center;
    background-color: var(--color1);
    min-height: 500px;
    color: white;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


/*Masonry*/

.masonry-container {
    columns: 3;
    gap: 20px;
}

.masonry-container-2 {
    columns: 2;
    gap: 20px;
}

.masonry-container a {
    display: block;
    break-inside: avoid;
    margin-bottom: 15px;
}

.masonry-container a img {
    width: 100%;
    height: 100%;
    margin: 0.1rem;
}


/*Footer*/

.socials-container {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.socials-container a img {
    max-height: 40px;
}

footer {
    padding: 20px;
    margin-top: auto;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*GLIDE STYLES - OVERWRITING*/


/*use !important since this is overwriting a separate stylesheet*/

.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: black!important;
    text-transform: uppercase;
    padding: 0!important;
    background-color: rgba(255 255, 255, 0.5)!important;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px!important;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.5);
    text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1;
}

.glide__arrow i {
    font-size: 30px;
}

.glide__arrow:focus.custom {
    outline: none;
}


/*IMPORTANT PLEASE DON'T DELETE THESE 2 BITCHES THEY ARE KEEPING THE FABRIC OF REALITY TOGETHER*/

.glide__slide {
    aspect-ratio: 3/4;
}

.glide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*Lightbox* - OVERWRITING*/


/*use !important since this is overwriting a separate stylesheet*/

.glightbox-clean .gdesc-inner {
    background-color: var(--color1)!important;
}

.gslide-title {
    font-weight: 700!important;
    color: white!important;
    margin-bottom: 5px!important;
}

.gslide-desc {
    font-size: 16px!important;
    color: white!important;
}


/*Mobile*/

@media (max-width: 1000px) {
    .shop-cta {
        width: auto;
        margin-bottom: 20px;
        min-height: 300px;
    }
    p {
        text-align: center;
    }
    .nav-container {
        padding-bottom: 30px;
    }
    .open-icon {
        float: right;
        display: block;
    }
    .topnav {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
    }
    .topnav ul {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .topnav ul {
        display: block;
        text-align: center;
        margin: auto;
        font-size: 30px;
    }
    .close-icon {
        display: block;
        font-size: 30px;
        /* position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px; */
    }
    .topnav ul li a {
        display: block;
        margin: 20px;
        color: white;
    }
    .flex-row-center,
    .flex-col-center,
    .flex-col-align-top,
    .flex-row-align-top,
    .flex-row-center a {
        display: block;
        margin: auto;
        /* gap: 0; */
    }
    .flex-col-align-top a,
    .flex-col-align-top div,
    .flex-col-center a,
    .flex-col-center div {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .padding-top-bottom-20,
    .padding-bottom-20 {
        padding: 0;
    }
    .flex-child-50,
    .flex-child-20,
    .flex-child-25,
    .flex-child-33,
    .flex-child-75,
    .flex-child-66 {
        margin-bottom: 20px;
    }
}